<div class="barbershop-wrap">
  <ul class="main-menu">
    <li><a href="">Главная</a> </li>
    <li><a href="">Информация</a> </li>
    <li><a href="">Новости</a> </li>
    <li><a href="">Прайс-лист</a> </li>
    <li><a href="">Магазин</a> </li>
    <li><a href="">Контакты</a> </li>
    <li><a href="">Вход</a> </li>
  </ul>
  <div class="price-list-container">
    <h1 class="price-title">Barbershop borodinski &mdash; Прайс-лист</h1>
    <ul class="bread-crumbs">
      Главная
      <li><em>&diams;</em>Прайс-лист</li>
    </ul>
  </div>

</div>