<div class="barbershop-wrapper">
<div class="header">
  <div class="layout-center-wrapper clearfix">
      <ul class="head-menu">
        <li><a href="#">Главная</a> </li>
        <li><a href="#">Информация</a> </li>
        <li><a href="#">Новости</a> </li>
        <li><a href="#">Прайс-лист</a> </li>
        <li><a href="#">Магазин</a> </li>
        <li><a href="#">Контакты</a> </li>
      </ul>
      <div class="account-menu">
        <a href="#">Вход</a>
      </div>
  </div>
</div>

<div class="layout-center-wrapper">
  <div class="price-head">
    <h1>Barbershop Borodiski &mdash; Прайс-лист</h1>
    <ul class="bread-crumbs">
      <li><a href="#">Главная</a> </li>
      <li><diamond>&diams;</diamond></li>
      <li><a href="#">Прайс-Лист</a> </li>
    </ul>
  </div>
  <div class="slogan">
    <div class="line"></div>
    <span class="content">Истинно мужская классика</span>
  </div>
  <div class="center-container clearfix">
    <div class="left-column">
      <h2>Мы используем только лучшие средства:</h2>
      <ul>
        <li><diamond>&diams;</diamond> Baxter of California</li>
        <li><diamond>&diams;</diamond> Mr Natty</li>
        <li><diamond>&diams;</diamond> suavecito</li>
        <li><diamond>&diams;</diamond> Malin+Goetz</li>
      </ul>
    </div>
    <div class="right-column">
      <h2>Цены на услуги наших Мастеров</h2>
      <table>
        <tr>
          <td class="column-1">Стрижка</td>
          <td class="column-2">1500 р.</td>
        </tr>
        <tr>
          <td class="column-1">Стрижка Бороды</td>
          <td class="column-2">500 р.</td>
        </tr>
        <tr>
          <td class="column-1">Накрутка Усов</td>
          <td class="column-2">350 р.</td>
        </tr>
      </table>
    </div>
    <h2 class="about-us clearfix">Несколько слов о нас:</h2>
    <div class="left-column">
      <p>
        Наши парикмахеры занимаются исключительно мужскими стрижками. Стрижка каждого клиента для нас - это
        уникальная и продуманная до мелочей работа. Мы не работаем на количество, мы делаем качество.
      </p>
    </div>
    <div class="right-column">
      <p>
        Наша мастерская расположена в центре города, поэтому сделать стильную стрижку можно в любоме время, даже
        в обеденный перерыв. Здесь вы можете погрузиться в удобную для вас атмосферу, чуствовать себя комфортно и свободно!
      </p>
    </div>
  </div>
</div>
<div class="footer clearfix">
  <div class="layout-center-wrapper">
    <div class="contact-info">
      <p>Barbershop &laquo;Borodinski&raquo;</p>
      <p>Адрес: г. Москва, ул. Собаки Павлова, Д.13</p>
      <p>Телефон: +7(495) 666-02-666</p>
    </div>
    <div class="social-forms">
      <p>Давайте дружить!</p>
      <a class="social-btn vk" href="#"></a>
      <a class="social-btn facebook" href="#"></a>
      <a class="social-btn gplus" href="#"></a>
    </div>
    <div class="design-author ">
      <p>Дизайн сайта:</p>
      <a class="design-author-btn" href="#">Gluhanko.ru</a>
    </div>
  </div>
</div>
</div>