<div class="describe-container">
    <div class="btn">ОТЗЫВЫ</div>
    <div class="commenter-container clearfix">
        <div class="person-area">
          <div class="person-picture person-morozov"></div>
          <div class="person-name">Михаил Морозов</div>
          <div class="person-comment">«В институте учат не тому, что требуется от web-разработчика. HTML Academy предоставляет
          современные курсы для начинающих.»</div>
        </div>
        <div class="person-area">
          <div class="person-picture person-alena"></div>
          <div class="person-name">Алёна Ефимова</div>
          <div class="person-comment">«Я быстро научилась необходимым мне вещам и теперь могу работать лучше.»</div>
        </div>
        <div class="person-area">
          <div class="person-picture person-pavel"></div>
          <div class="person-name">Павел Скляров</div>
          <div class="person-comment">«Меня давно интересовали веб-технологии, но изучать их было скучно. А эти курсы просто затянули.»</div>
        </div>
    </div>
  <div class="btn">НЕМНОГО СТАТИСТИКИ</div>
  <div class="statistic-container clearfix">
    <div class="static-area">
      <div class="info-number"><a href="http://htmlacademy.ru/public_profiles/all">27 010+</a> </div>
      <div class="info-description">ПОЛЬЗОВАТЕЛЕЙ ЗАРЕГИСТРИРОВАНО</div>
    </div>
    <div class="static-area">
      <div class="info-number"><a href="http://htmlacademy.ru/public_profiles/progress">1 220 560+</a> </div>
      <div class="info-description">ЗАДАНИЙ <br>
        ВЫПОЛНЕНО</div>
    </div>
    <div class="static-area">
      <div class="info-number"><a href="http://htmlacademy.ru/achievments">162 230+</a> </div>
      <div class="info-description">ДОСТИЖЕНИЙ <br>
        ПОЛУЧЕНО</div>
    </div>
  </div>
</div>
