<div class="wrapper">
  <div class="title-block">Отзывы</div>
  <ul class="reviews-container">
    <li class="review">
      <img class="person-picture" src="" alt="Михаил Морозов">
      <blockquote class="person-review">
        <cite><a href="#">Михаил Морозов</a> </cite>
        <p>&laquo; В институте учат не тому, что требуется от web-разработчика. HTML Academy предоставляет
          современные курсы для начинающих.&raquo;</p>
      </blockquote>
    </li>
    <li class="review">
      <img class="person-picture" src="" alt="Алёна Ефимова">
      <blockquote class="person-review">
        <cite><a href="#">Алёна Ефимова</a> </cite>
        <p>&laquo;Я быстро научилась необходимым мне вещам и теперь могу работать лучше.&raquo;</p>
      </blockquote>
    </li>
    <li class="review">
      <img class="person-picture" src="" alt="Павел Скляров">
      <blockquote class="person-review">
        <cite><a href="#">Павел Скляров</a> </cite>
        <p>&laquo;Меня давно интересовали веб-технологии, но изучать их было скучно. А эти курсы просто затянули.&raquo;</p>
      </blockquote>
    </li>
  </ul>
  <div class="title-block">Немного статистики</div>
  <ul class="statistic-container">
    <li class="statistic">
      <div class="statistic-number"><a href="#">12 570+</a> </div>
      <div class="statistic-info">Пользователей зарегистрировано</div>
    </li>
    <li class="statistic">
      <div class="statistic-number"><a href="#">411 550+</a></div>
      <div class="statistic-info">Заданий выполнено</div>
    </li>
    <li class="statistic">
      <div class="statistic-number"><a href="#">61 600+</a> </div>
      <div class="statistic-info">Достижений получено</div>
    </li>
  </ul>
</div>