.wrapper{
  margin:20px auto 20px;
  width: 993px;
  height: 729px;
}
.title-block{
  margin: 0 auto;
  width: 276px;
  height: 48px;
  background-color: #28ae61;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  margin-bottom: 40px;
}
.title-block:after{
  content: "";
  position: absolute;
  border:12px solid transparent;
  border-top-width: 10px;
  border-bottom-width: 0;
  border-top-color: #28ae61;
  left: 50%;
  margin-top: 47px;
}
.reviews-container{
  list-style: none;
  margin-top: 20px;
}
.review{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 290px;
}

.review:nth-child(2){margin: 0 30px;}
.review .person-picture{
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 5px;
  background-color: gray;
  -webkit-box-shadow: inset 0 -5px 0px 0px green;
  -moz-box-shadow: inset 0 -5px 0px 0px green;
  box-shadow: inset 0 -5px 0px 0px green;
}
.person-review{
  margin-top: 30px;
  margin-bottom: 0;
}
.review cite a{
  color: green;
  font-size: 16px;
}
.person-review p{
  margin-top: 28px;
  margin-bottom: 0;
  font-style: italic;
}
.statistic-container{
  list-style: none;
  margin-top: 43px;
  height: 188px;
}
.statistic{
  display: inline-block;
  text-align: center;
  width: 293px;
}
.statistic:nth-child(2){ margin: 0 20px;}
.statistic-number{
  display: block;
  height: 98px;
  background-color: #3598da;
  border-radius:7px 7px 0 0;
  color: white;
  line-height: 98px;
  font-size: 3.4em;
}
.statistic-number a{
  text-decoration: none;
  color: white;
}
.statistic-info{
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  height: 90px;
  width:293px;
  border-radius: 0 0 7px 7px;
  background-color: #ebeff0;
  color: #3598da;
  font-size: 1.4em;
  text-transform: uppercase;
}

//barbershop
.barbershop-wrapper{
  font-family: "PT Sans Narrow",sans-serif;
  font-size: 16px;
}
.layout-center-wrapper{
  margin: 0 auto;
  width: 940px;
  padding: 0;
}
.header{
  background-color: #010101;
  border-top: 2px solid #6f6f6f;
  border-bottom: 3px solid #6f6f6f;
}
.head-menu{
  list-style: none;
  margin: 0;
  padding: 0;
}
.head-menu li{
  display: inline-block;
  padding: 30px 20px;
  float: left;
}
.header a{
  text-decoration: none;
  text-transform: uppercase;
  line-height: 16px;
  color: white;
}
.head-menu li:hover{
  background-color: #6f6f6f;
}
.account-menu{
  float: right;
  padding: 30px 20px;
}
.clearfix:after{
  content:'';
  display:table;
  clear:both;
}
.price-head{
  margin-top: 60px;
}
.price-head h1{
  text-transform: uppercase;
  font-size: 25px;
}
.bread-crumbs{
  list-style: none;
  margin: 0;
  padding: 0;
}
.bread-crumbs li{
  display: inline-block;
  margin-right: 10px;
}
.bread-crumbs a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
}
.bread-crumbs diamond{
  font-size: 13px;
}
.slogan{
  margin-top: 60px;
  text-align: center;
}
.slogan .line{
  height: 2px;
  background-color: black;
  position: relative;
  z-index: 1;
  top: 10px;
}
.slogan .content{
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  background-color: white;
  font-size: 35px;
  z-index: 2;
  padding-left: 30px;
  padding-right: 30px;
}
.center-container{
  margin-top: 60px;
  margin-bottom: 60px;
}
.center-container h2{
  margin: 0;
  width: 65%;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.left-column{
  float: left;
  width: 50%;
}
.right-column{
  float: right;
  width: 50%;
}
.left-column ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.left-column li{
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 25px;
  font-size: 12px;
}
.left-column diamond{
  margin-right: 10px;
}
table{
  border-collapse: collapse;
  margin-bottom: 60px;
}
td{
  width: 230px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border: 2px solid black;
}
.column-1{
  text-align: left;
  padding-left: 10px;
}
.column-2{
  text-align: center;
}
.about-us{
  width: 100%;
}
.center-container p{
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  width: 90%;
  font-size: 10px;
  line-height: 16px;
}
.footer{
  background-color: #222222;
  padding-top: 60px;
  padding-bottom: 60px;
  //color: white;
}
.footer p{
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.contact-info{
  float: left;
  width: 45%;
}
.social-forms{
  float: left;
  text-align: center;
}
.design-author{
  float: right;
  text-align: center;
}
.social-btn{
  display: inline-block;
  background-color: black;
  width: 45px;
  height: 45px;
  margin-right: 5px;
}
.design-author-btn{
  display: block;
  height: 45px;
  width: 140px;
  background-color: black;
}
.design-author a{
  text-transform: uppercase;
  line-height: 45px;
  text-decoration: none;
  color: white;
}
.design-author a:hover{
  color: black;
  background-color: white;
}
.vk{}
.facebook{}
.gplus{}


